<div class="z-index-210">
    <nav class="nav-menu-score">
        <div class="div-active-score"></div>
        <div class="div-menu-score">
            <a>
                <svg viewBox="0 594 82 66" data-test="flag-en" style="height: 37.0244px; width: 46px;">
                    <image height="3168"
                        href="https://d35aaqx5ub95lt.cloudfront.net/vendor/87938207afff1598611ba626a8c4827c.svg"
                        width="82"
                        xlink:href="https://d35aaqx5ub95lt.cloudfront.net/vendor/87938207afff1598611ba626a8c4827c.svg">
                    </image>
                </svg>
            </a>
            <a>
                <img draggable="false"
                    src="https://d35aaqx5ub95lt.cloudfront.net/vendor/398e4298a3b39ce566050e5c041949ef.svg">
                <span>260</span>
            </a>
            <a href="/shop">
                <img draggable="false"
                    src="https://d35aaqx5ub95lt.cloudfront.net/vendor/45c14e05be9c1af1d7d0b54c6eed7eee.svg">
                <span>1920</span>
            </a>
            <a>
                <img draggable="false"
                    src="https://d35aaqx5ub95lt.cloudfront.net/images/hearts/8fdba477c56a8eeb23f0f7e67fdec6d9.svg">
                <span>5</span>
            </a>
        </div>
    </nav>
</div>

