<section class="section-principal">
    <svg xmlns="http://www.w3.org/2000/svg" width="41" height="40" viewBox="0 0 41 40" fill="none">
        <g clip-path="url(#clip0_47223_91694)">
            <line x1="16.5032" y1="21.7705" x2="24.0339" y2="17.4227" stroke="#C9C7C7"
                stroke-width="2.67256" />
            <rect x="17.8604" y="8.47095" width="7.82609" height="22.6087" rx="3.91304"
                transform="rotate(-30 17.8604 8.47095)" fill="#1CB0F6" />
            <rect x="5.05811" y="15.8621" width="7.82609" height="22.6087" rx="3.91304"
                transform="rotate(-30 5.05811 15.8621)" fill="#1CB0F6" />
            <rect x="24.8716" y="8.44043" width="7.82609" height="15.6522" rx="3.91304"
                transform="rotate(-30 24.8716 8.44043)" fill="#1CB0F6" />
            <rect x="1.52588" y="21.918" width="7.82609" height="15.6522" rx="3.91304"
                transform="rotate(-30 1.52588 21.918)" fill="#1CB0F6" />
            <rect opacity="0.3" x="5.00439" y="22.7876" width="2.6087" height="4.34783" rx="1.30435"
                transform="rotate(-30 5.00439 22.7876)" fill="white" />
            <rect opacity="0.3" x="29.3521" y="9.74414" width="2.6087" height="4.34783" rx="1.30435"
                transform="rotate(-30 29.3521 9.74414)" fill="white" />
            <rect opacity="0.3" x="8.48242" y="16.7009" width="2.6087" height="5.21739" rx="1.30435"
                transform="rotate(-30 8.48242 16.7009)" fill="white" />
            <rect opacity="0.3" x="21.5259" y="9.74414" width="2.6087" height="5.21739" rx="1.30435"
                transform="rotate(-30 21.5259 9.74414)" fill="white" />
        </g>
        <defs>
            <clipPath id="clip0_47223_91694">
                <rect width="40" height="40" fill="white" transform="translate(0.5)" />
            </clipPath>
        </defs>
    </svg>
</section>